
    <h1>Registration Form</h1>
    <div class="jumbotron"> 
    <form (submit)="register($event)" class="form-group" validate>
            <div class="col-md-8 offset-md-2">
                <input type="text" placeholder="enter the first  name" class="form-control" id="fname" required><br>
            </div>
            <div class="col-md-8 offset-md-2">
            <input type="text" placeholder="enter the last name" class="form-control" id="lname" required><br>
           </div>
           <div class="col-md-8 offset-md-2">
           <input type="email" placeholder="enter the emailid" class="form-control" id="email"required><br>
       </div>
        <div class="col-md-8 offset-md-2">
              <input type="date" placeholder="D.O.B" class="form-control" id="dob" required><br>
            </div>
            <div class="col-md-8 offset-md-2"> 
                <input type="password" placeholder="enter the password" class="form-control" id="password" required><br>
            </div>
            <div class="col-md-8 offset-md-2">
            <button class="btn btn-success " ><a routerLink="/login"> Submit</a></button>
             <a [routerLink]="['/login']" class="btn btn-link" >Login</a>
          </div> 
         </form>
    </div>
  