
    <div class="jumbotron"> 
       <div class="container">
    <h1>Login Form</h1>
  <form  (ngSubmit)="onSubmit()" >
            <div class="col-md-8 offset-md-2">
                <input type="email" placeholder="enter the  email id" class="form-control" id="email" required><br>
            </div>
            <div class="col-md-8 offset-md-2">
            <input type="password" placeholder="enter the password" class="form-control" id="password"required><br>
          </div>
          <div class="col-md-8 offset-md-2">
            <a [routerLink]="['/details']" class="btn btn-link">submit</a>
          
          </div>
        </form>
    
  </div>
</div>
  